.container { background-color: #fff; padding-top: 15px; 
	min-width: 350px !important;
  
}

body { 
  /*background: url(../images/water2_1.jpg) no-repeat center center fixed; */
  /*background: url(../images/dwp.jpg) no-repeat center center fixed; */
  background-color:#1a1a1a;
  /*background-color: red;*/

/*background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;*/


  
/*  background-size: cover;
  background-color: #2d2d2d;*/
  margin-top: 80px;
    font-size: 16px;
}  


.contentpages {
	margin-top: 1%;
	margin-left: 1%;
	margin-right:1%;

}

@media (max-width: 800.98px) { 

.pilcdnarrow { font-size: 12px !important; }

}

.thcolorlevel1 {background-color: #404040; color: white;}
.thcolorlevel2 {background-color: #eeeeee; font-size: 0.7em;}

table td input,table td, table th {
	padding: 0.5rem !important;
	font-size: 14px;
}


.form-control {
	font-size: 14px !important;
	padding: 0.3rem;
}

.btn .btn-default {
	font-size: 14px !important;
}


.theme-standard-card-background {
	background-color: #c7c7c7;
}

.theme-standard-card-title {
	background-color: #2a2320;
	padding: 3px;
	border-radius: 3px;
	text-align: center;
	color: white;
}

.card-body {
	padding: 10px !important;
}

.select-lightgreen {
	background-color: #d5edd9;
}


.inhabimg {
	/*float: left;*/
/*	min-width: 260px;
	max-width: 260px;*/
	height: 180px;
	padding: 3px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px -2px rgba(150,150,150,0.96);
	-moz-box-shadow: 0px 0px 5px -2px rgba(150,150,150,0.96);
	box-shadow: 0px 0px 90px -2px rgba(150,150,150,0.96);
	 clip: rect(0px,20px,20px,0px) !important;
}

/*@media screen and (min-width: 480px) {
    .inhabimg {
        width: 280px;
        width: 280px;
        height: 180px;
    }
}
*/
.pad10 {
	padding: 10px;
}

.pad5 {
	padding: 5px;
}

.cardinhab {
	background-color: #f7f7f7;

}

h1 {
	padding-bottom: 5px;
}
.headinds { 
	/*background-color: #e6e6e6;*/
	background-color: #000;
	color: white;
	padding-left: 10px;
	width: 100%;
	font-size: 1.5em;
	padding-top: 3px !important;
	padding-bottom: : 30px !important;
	/*font-family: 'Dosis', sans-serif;*/
	/*position: static;*/
text-align: left;}

.subheadinds { 
	font-size: 1.8em;
	background-color: #e6e6e6;
	padding-left: 10px;
	width: 100%;
	/*font-family: 'Dosis', sans-serif;*/
	/*position: static;*/
text-align: left;}

.minheadinds { 
	font-size: 1.2em;
	/*background-color: #d6d6d6;*/
	padding-left: 10px;
	margin-bottom: 3px;
	margin-top: 3px;
	width: 100%;
	/*font-family: 'Dosis', sans-serif;*/
	/*position: static;*/
text-align: left;}

.lowlight {
	color: #fff;
	background-color: #343a40 ;
}